# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2020 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=Maui Settings
Comment=Maui Settings Manager
TryExec=MauiSettings
Exec=MauiSettings %U
Terminal=false
Type=Application
Categories=Qt;System;
GenericName=Settings Manager
StartupNotify=true
Icon=mauisettings
