# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2020 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=NX Manager
Comment=Nitrux Settings Manager
TryExec=nxmanager
Exec=nxmanager %U
Terminal=false
Type=Application
Categories=Qt;KDE;System;FileTools;FileManager;
GenericName=Settings Manager
StartupNotify=true
Icon=preferences-system
